[
   {
      "Capture": false,
      "Device": {
         "Template": {
            "FormatConfiguration": {
               "SmoothStreamingMuxer": {
                  "AudioFragmentDuration": 8,
                  "DRM": {
                     "DRMType": "None",
                     "PlayReady": {
                        "KeyContent": "",
                        "KeyID": "",
                        "KeySeed": "",
                        "KeyType": "Seed",
                        "LicenseUrl": "",
                        "ServiceID": ""
                     }
                  },
                  "VideoFragmentDuration": 8
               }
            },
            "Name": "smooth",
            "Static": false,
            "Tracks": {
               "AudioTracks": [
               ],
               "DataTracks": [
               ],
               "VideoTracks": [
                  {
                     "BlazingMode": false,
                     "Cropping": {
                        "Enable": false,
                        "Height": 0,
                        "Left": 0,
                        "Top": 0,
                        "Width": 0
                     },
                     "DisplayAspectRatio": {
                        "AspectRatio": "16:9",
                        "Denominator": 9,
                        "Numerator": 16
                     },
                     "EmulationMode": {
                        "Mode": "Freeze",
                        "Urls": [
                           ""
                        ]
                     },
                     "Encoding": {
                        "AdvancedParameters": {
                           "Afd": false,
                           "EnableOpenGop": false,
                           "Encoding": "Frame",
                           "Entropy": "CABAC",
                           "ForceIdr": true,
                           "Hrd": true,
                           "IntraDcPrecision": 8,
                           "MultiReferences": true,
                           "UseSinglePpsSps": true,
                           "WaveFrontParallelProcessing": false,
                           "WeightedPrediction": true
                        },
                        "BFrameConfiguration": {
                           "EnableHierarchical": false,
                           "Max": 7,
                           "Min": 0
                        },
                        "Codec": "MPEG-4",
                        "Cpb": {
                           "BufferUnit": "ms",
                           "Size": 1000
                        },
                        "Deblocking": {
                           "Enable": true,
                           "Offset": -6
                        },
                        "VideoOptimization": "Visual Quality"
                     },
                     "FieldOrder": "Top field first",
                     "FrameType": "Progressive",
                     "LogoInsertions": [
                        {
                           "AspectRatio": {
                              "AspectRatio": "Use original",
                              "Denominator": 9,
                              "Numerator": 16
                           },
                           "Enable": false,
                           "FileName": "name",
                           "Left": 0,
                           "LogoSizeReference": "Width",
                           "Size": 100,
                           "Speed": "1",
                           "Top": 0,
                           "Urls": [
                              ""
                           ]
                        },
                        {
                           "AspectRatio": {
                              "AspectRatio": "Use original",
                              "Denominator": 9,
                              "Numerator": 16
                           },
                           "Enable": false,
                           "FileName": "name",
                           "Left": 0,
                           "LogoSizeReference": "Width",
                           "Size": 100,
                           "Speed": "1",
                           "Top": 0,
                           "Urls": [
                              ""
                           ]
                        },
                        {
                           "AspectRatio": {
                              "AspectRatio": "Use original",
                              "Denominator": 9,
                              "Numerator": 16
                           },
                           "Enable": false,
                           "FileName": "name",
                           "Left": 0,
                           "LogoSizeReference": "Width",
                           "Size": 100,
                           "Speed": "1",
                           "Top": 0,
                           "Urls": [
                              ""
                           ]
                        },
                        {
                           "AspectRatio": {
                              "AspectRatio": "Use original",
                              "Denominator": 9,
                              "Numerator": 16
                           },
                           "Enable": false,
                           "FileName": "name",
                           "Left": 0,
                           "LogoSizeReference": "Width",
                           "Size": 100,
                           "Speed": "1",
                           "Top": 0,
                           "Urls": [
                              ""
                           ]
                        }
                     ],
                     "Pid": 0,
                     "Variants": [
                        {
                           "Encoding": {
                              "AVCParameters": {
                                 "Level": "Auto",
                                 "Profile": "Main"
                              },
                              "Bitrate": 400000,
                              "GopParameters": {
                                 "Fixed": false,
                                 "GopSize": 50
                              },
                              "HEVCParameters": {
                                 "Level": "Auto",
                                 "Profile": "Main"
                              },
                              "MPEG2Parameters": {
                                 "Level": "Auto",
                                 "Profile": "Main"
                              }
                           },
                           "FrameRateParameters": {
                              "Denominator": 1,
                              "FrameRate": "25",
                              "Numerator": 25
                           },
                           "FrameSizeParameters": {
                              "Height": 260,
                              "Resolution": "Custom",
                              "Width": 464
                           },
                           "LogoInsertions": [
                              {
                                 "AspectRatio": {
                                    "AspectRatio": "Use original",
                                    "Denominator": 9,
                                    "Numerator": 16
                                 },
                                 "Enable": false,
                                 "FileName": "name",
                                 "Left": 0,
                                 "LogoSizeReference": "Width",
                                 "Size": 100,
                                 "Speed": "1",
                                 "Top": 0,
                                 "Urls": [
                                    ""
                                 ]
                              },
                              {
                                 "AspectRatio": {
                                    "AspectRatio": "Use original",
                                    "Denominator": 9,
                                    "Numerator": 16
                                 },
                                 "Enable": false,
                                 "FileName": "name",
                                 "Left": 0,
                                 "LogoSizeReference": "Width",
                                 "Size": 100,
                                 "Speed": "1",
                                 "Top": 0,
                                 "Urls": [
                                    ""
                                 ]
                              },
                              {
                                 "AspectRatio": {
                                    "AspectRatio": "Use original",
                                    "Denominator": 9,
                                    "Numerator": 16
                                 },
                                 "Enable": false,
                                 "FileName": "name",
                                 "Left": 0,
                                 "LogoSizeReference": "Width",
                                 "Size": 100,
                                 "Speed": "1",
                                 "Top": 0,
                                 "Urls": [
                                    ""
                                 ]
                              },
                              {
                                 "AspectRatio": {
                                    "AspectRatio": "Use original",
                                    "Denominator": 9,
                                    "Numerator": 16
                                 },
                                 "Enable": false,
                                 "FileName": "name",
                                 "Left": 0,
                                 "LogoSizeReference": "Width",
                                 "Size": 100,
                                 "Speed": "1",
                                 "Top": 0,
                                 "Urls": [
                                    ""
                                 ]
                              }
                           ]
                        },
                        {
                           "Encoding": {
                              "AVCParameters": {
                                 "Level": "Auto",
                                 "Profile": "Main"
                              },
                              "Bitrate": 800000,
                              "GopParameters": {
                                 "Fixed": false,
                                 "GopSize": 50
                              },
                              "HEVCParameters": {
                                 "Level": "Auto",
                                 "Profile": "Main"
                              },
                              "MPEG2Parameters": {
                                 "Level": "Auto",
                                 "Profile": "Main"
                              }
                           },
                           "FrameRateParameters": {
                              "Denominator": 1,
                              "FrameRate": "25",
                              "Numerator": 25
                           },
                           "FrameSizeParameters": {
                              "Height": 260,
                              "Resolution": "Custom",
                              "Width": 464
                           },
                           "LogoInsertions": [
                              {
                                 "AspectRatio": {
                                    "AspectRatio": "Use original",
                                    "Denominator": 9,
                                    "Numerator": 16
                                 },
                                 "Enable": false,
                                 "FileName": "name",
                                 "Left": 0,
                                 "LogoSizeReference": "Width",
                                 "Size": 100,
                                 "Speed": "1",
                                 "Top": 0,
                                 "Urls": [
                                    ""
                                 ]
                              },
                              {
                                 "AspectRatio": {
                                    "AspectRatio": "Use original",
                                    "Denominator": 9,
                                    "Numerator": 16
                                 },
                                 "Enable": false,
                                 "FileName": "name",
                                 "Left": 0,
                                 "LogoSizeReference": "Width",
                                 "Size": 100,
                                 "Speed": "1",
                                 "Top": 0,
                                 "Urls": [
                                    ""
                                 ]
                              },
                              {
                                 "AspectRatio": {
                                    "AspectRatio": "Use original",
                                    "Denominator": 9,
                                    "Numerator": 16
                                 },
                                 "Enable": false,
                                 "FileName": "name",
                                 "Left": 0,
                                 "LogoSizeReference": "Width",
                                 "Size": 100,
                                 "Speed": "1",
                                 "Top": 0,
                                 "Urls": [
                                    ""
                                 ]
                              },
                              {
                                 "AspectRatio": {
                                    "AspectRatio": "Use original",
                                    "Denominator": 9,
                                    "Numerator": 16
                                 },
                                 "Enable": false,
                                 "FileName": "name",
                                 "Left": 0,
                                 "LogoSizeReference": "Width",
                                 "Size": 100,
                                 "Speed": "1",
                                 "Top": 0,
                                 "Urls": [
                                    ""
                                 ]
                              }
                           ]
                        },
                        {
                           "Encoding": {
                              "AVCParameters": {
                                 "Level": "Auto",
                                 "Profile": "Main"
                              },
                              "Bitrate": 960000,
                              "GopParameters": {
                                 "Fixed": false,
                                 "GopSize": 50
                              },
                              "HEVCParameters": {
                                 "Level": "Auto",
                                 "Profile": "Main"
                              },
                              "MPEG2Parameters": {
                                 "Level": "Auto",
                                 "Profile": "Main"
                              }
                           },
                           "FrameRateParameters": {
                              "Denominator": 1,
                              "FrameRate": "25",
                              "Numerator": 25
                           },
                           "FrameSizeParameters": {
                              "Height": 360,
                              "Resolution": "Custom",
                              "Width": 640
                           },
                           "LogoInsertions": [
                              {
                                 "AspectRatio": {
                                    "AspectRatio": "Use original",
                                    "Denominator": 9,
                                    "Numerator": 16
                                 },
                                 "Enable": false,
                                 "FileName": "name",
                                 "Left": 0,
                                 "LogoSizeReference": "Width",
                                 "Size": 100,
                                 "Speed": "1",
                                 "Top": 0,
                                 "Urls": [
                                    ""
                                 ]
                              },
                              {
                                 "AspectRatio": {
                                    "AspectRatio": "Use original",
                                    "Denominator": 9,
                                    "Numerator": 16
                                 },
                                 "Enable": false,
                                 "FileName": "name",
                                 "Left": 0,
                                 "LogoSizeReference": "Width",
                                 "Size": 100,
                                 "Speed": "1",
                                 "Top": 0,
                                 "Urls": [
                                    ""
                                 ]
                              },
                              {
                                 "AspectRatio": {
                                    "AspectRatio": "Use original",
                                    "Denominator": 9,
                                    "Numerator": 16
                                 },
                                 "Enable": false,
                                 "FileName": "name",
                                 "Left": 0,
                                 "LogoSizeReference": "Width",
                                 "Size": 100,
                                 "Speed": "1",
                                 "Top": 0,
                                 "Urls": [
                                    ""
                                 ]
                              },
                              {
                                 "AspectRatio": {
                                    "AspectRatio": "Use original",
                                    "Denominator": 9,
                                    "Numerator": 16
                                 },
                                 "Enable": false,
                                 "FileName": "name",
                                 "Left": 0,
                                 "LogoSizeReference": "Width",
                                 "Size": 100,
                                 "Speed": "1",
                                 "Top": 0,
                                 "Urls": [
                                    ""
                                 ]
                              }
                           ]
                        },
                        {
                           "Encoding": {
                              "AVCParameters": {
                                 "Level": "Auto",
                                 "Profile": "Main"
                              },
                              "Bitrate": 1200000,
                              "GopParameters": {
                                 "Fixed": false,
                                 "GopSize": 50
                              },
                              "HEVCParameters": {
                                 "Level": "Auto",
                                 "Profile": "Main"
                              },
                              "MPEG2Parameters": {
                                 "Level": "Auto",
                                 "Profile": "Main"
                              }
                           },
                           "FrameRateParameters": {
                              "Denominator": 1,
                              "FrameRate": "25",
                              "Numerator": 25
                           },
                           "FrameSizeParameters": {
                              "Height": 360,
                              "Resolution": "Custom",
                              "Width": 640
                           },
                           "LogoInsertions": [
                              {
                                 "AspectRatio": {
                                    "AspectRatio": "Use original",
                                    "Denominator": 9,
                                    "Numerator": 16
                                 },
                                 "Enable": false,
                                 "FileName": "name",
                                 "Left": 0,
                                 "LogoSizeReference": "Width",
                                 "Size": 100,
                                 "Speed": "1",
                                 "Top": 0,
                                 "Urls": [
                                    ""
                                 ]
                              },
                              {
                                 "AspectRatio": {
                                    "AspectRatio": "Use original",
                                    "Denominator": 9,
                                    "Numerator": 16
                                 },
                                 "Enable": false,
                                 "FileName": "name",
                                 "Left": 0,
                                 "LogoSizeReference": "Width",
                                 "Size": 100,
                                 "Speed": "1",
                                 "Top": 0,
                                 "Urls": [
                                    ""
                                 ]
                              },
                              {
                                 "AspectRatio": {
                                    "AspectRatio": "Use original",
                                    "Denominator": 9,
                                    "Numerator": 16
                                 },
                                 "Enable": false,
                                 "FileName": "name",
                                 "Left": 0,
                                 "LogoSizeReference": "Width",
                                 "Size": 100,
                                 "Speed": "1",
                                 "Top": 0,
                                 "Urls": [
                                    ""
                                 ]
                              },
                              {
                                 "AspectRatio": {
                                    "AspectRatio": "Use original",
                                    "Denominator": 9,
                                    "Numerator": 16
                                 },
                                 "Enable": false,
                                 "FileName": "name",
                                 "Left": 0,
                                 "LogoSizeReference": "Width",
                                 "Size": 100,
                                 "Speed": "1",
                                 "Top": 0,
                                 "Urls": [
                                    ""
                                 ]
                              }
                           ]
                        },
                        {
                           "Encoding": {
                              "AVCParameters": {
                                 "Level": "Auto",
                                 "Profile": "Main"
                              },
                              "Bitrate": 1800000,
                              "GopParameters": {
                                 "Fixed": false,
                                 "GopSize": 50
                              },
                              "HEVCParameters": {
                                 "Level": "Auto",
                                 "Profile": "Main"
                              },
                              "MPEG2Parameters": {
                                 "Level": "Auto",
                                 "Profile": "Main"
                              }
                           },
                           "FrameRateParameters": {
                              "Denominator": 1,
                              "FrameRate": "25",
                              "Numerator": 25
                           },
                           "FrameSizeParameters": {
                              "Height": 576,
                              "Resolution": "Custom",
                              "Width": 1024
                           },
                           "LogoInsertions": [
                              {
                                 "AspectRatio": {
                                    "AspectRatio": "Use original",
                                    "Denominator": 9,
                                    "Numerator": 16
                                 },
                                 "Enable": false,
                                 "FileName": "name",
                                 "Left": 0,
                                 "LogoSizeReference": "Width",
                                 "Size": 100,
                                 "Speed": "1",
                                 "Top": 0,
                                 "Urls": [
                                    ""
                                 ]
                              },
                              {
                                 "AspectRatio": {
                                    "AspectRatio": "Use original",
                                    "Denominator": 9,
                                    "Numerator": 16
                                 },
                                 "Enable": false,
                                 "FileName": "name",
                                 "Left": 0,
                                 "LogoSizeReference": "Width",
                                 "Size": 100,
                                 "Speed": "1",
                                 "Top": 0,
                                 "Urls": [
                                    ""
                                 ]
                              },
                              {
                                 "AspectRatio": {
                                    "AspectRatio": "Use original",
                                    "Denominator": 9,
                                    "Numerator": 16
                                 },
                                 "Enable": false,
                                 "FileName": "name",
                                 "Left": 0,
                                 "LogoSizeReference": "Width",
                                 "Size": 100,
                                 "Speed": "1",
                                 "Top": 0,
                                 "Urls": [
                                    ""
                                 ]
                              },
                              {
                                 "AspectRatio": {
                                    "AspectRatio": "Use original",
                                    "Denominator": 9,
                                    "Numerator": 16
                                 },
                                 "Enable": false,
                                 "FileName": "name",
                                 "Left": 0,
                                 "LogoSizeReference": "Width",
                                 "Size": 100,
                                 "Speed": "1",
                                 "Top": 0,
                                 "Urls": [
                                    ""
                                 ]
                              }
                           ]
                        },
                        {
                           "Encoding": {
                              "AVCParameters": {
                                 "Level": "Auto",
                                 "Profile": "Main"
                              },
                              "Bitrate": 2300000,
                              "GopParameters": {
                                 "Fixed": false,
                                 "GopSize": 50
                              },
                              "HEVCParameters": {
                                 "Level": "Auto",
                                 "Profile": "Main"
                              },
                              "MPEG2Parameters": {
                                 "Level": "Auto",
                                 "Profile": "Main"
                              }
                           },
                           "FrameRateParameters": {
                              "Denominator": 1,
                              "FrameRate": "25",
                              "Numerator": 25
                           },
                           "FrameSizeParameters": {
                              "Height": 576,
                              "Resolution": "Custom",
                              "Width": 1024
                           },
                           "LogoInsertions": [
                              {
                                 "AspectRatio": {
                                    "AspectRatio": "Use original",
                                    "Denominator": 9,
                                    "Numerator": 16
                                 },
                                 "Enable": false,
                                 "FileName": "name",
                                 "Left": 0,
                                 "LogoSizeReference": "Width",
                                 "Size": 100,
                                 "Speed": "1",
                                 "Top": 0,
                                 "Urls": [
                                    ""
                                 ]
                              },
                              {
                                 "AspectRatio": {
                                    "AspectRatio": "Use original",
                                    "Denominator": 9,
                                    "Numerator": 16
                                 },
                                 "Enable": false,
                                 "FileName": "name",
                                 "Left": 0,
                                 "LogoSizeReference": "Width",
                                 "Size": 100,
                                 "Speed": "1",
                                 "Top": 0,
                                 "Urls": [
                                    ""
                                 ]
                              },
                              {
                                 "AspectRatio": {
                                    "AspectRatio": "Use original",
                                    "Denominator": 9,
                                    "Numerator": 16
                                 },
                                 "Enable": false,
                                 "FileName": "name",
                                 "Left": 0,
                                 "LogoSizeReference": "Width",
                                 "Size": 100,
                                 "Speed": "1",
                                 "Top": 0,
                                 "Urls": [
                                    ""
                                 ]
                              },
                              {
                                 "AspectRatio": {
                                    "AspectRatio": "Use original",
                                    "Denominator": 9,
                                    "Numerator": 16
                                 },
                                 "Enable": false,
                                 "FileName": "name",
                                 "Left": 0,
                                 "LogoSizeReference": "Width",
                                 "Size": 100,
                                 "Speed": "1",
                                 "Top": 0,
                                 "Urls": [
                                    ""
                                 ]
                              }
                           ]
                        }
                     ],
                     "VideoColorimetry": "None",
                     "VideoFormat": "None"
                  }
               ]
            },
            "Type": "Smooth Streaming",
            "UID": "df906988-2b24-44c3-ac44-63c718055019"
         }
      },
      "Input": {
         "IPInputList": [
            {
               "Interface": "eth2",
               "Source": "10.10.0.2",
               "Url": "udp://239.255.0.26:1234",
               "UseFec": false,
               "UseSourceFiltering": false
            }
         ],
         "Type": "IP"
      },
      "IntelVCA": {
         "Node": "Host"
      },
      "Load": 46072,
      "Mapping": {
         "AudioInputTrack": [
         ],
         "DataInputTrack": [
         ],
         "VideoInputTrack": [
            {
               "ID": 257
            }
         ]
      },
      "MultiplePackagerGroup": "",
      "Name": "1",
      "Outputs": [
         [
            {
               "BackupInterface": "eth0",
               "ChunkDuration": 10,
               "DRM": {
                  "InternalKeyGeneration": {
                     "KeyUrl": "",
                     "PlaybackKeyUrl": ""
                  }
               },
               "EnableBackupInterface": false,
               "EnableOutput": true,
               "IPSpoofing": {
                  "OverrideSourceAddress": false,
                  "SourceAddress": "0.0.0.0"
               },
               "Interface": "eth0",
               "Mp4": false,
               "PlaybackUrl": "",
               "StreamName": "",
               "TOS": 0,
               "TTL": 255,
               "Type": "Live",
               "Url": "http://172.16.0.222:8082/file.isml"
            }
         ]
      ],
      "State": {
         "Messages": [
            {
               "Description": "No output stream.",
               "Name": "Service Output Stream"
            },
            {
               "Description": "Timeout on input socket udp://239.255.0.26:1234",
               "Name": "Input Source Loss"
            }
         ],
         "State": "Encoding",
         "Statistics": {
         },
         "Streaming": false
      },
      "Statmux": {
         "Channel": 0,
         "ChannelName": ""
      },
      "TemplateParametersOverride": {
      },
      "ThumbnailUrl": "thumbnails/",
      "UID": "b154d26b-f7c2-461b-8758-fb6daa32dfc9"
   }
]
