protocol kernel {
        persist;
        scan time 20;
        export all;
}
protocol device {
        scan time 10;
}
protocol static {
        route {{ cluster['amazon']['vlims']['cidrs'][0] }} via {{ cluster[id|string]['VL3']['fixed_ips'][0] }}
        route {{tunnel_cidr}} via {{ cluster[id|string]['VL3']['fixed_ips'][0] }}
}

