protocol kernel {
        persist;
        scan time 20;
        export all;
}
protocol device {
        scan time 10;
}
protocol static {
        {%- if id == 1  -%}
            route {{ tunnel_cidr }} via {{ cluster['3']['VL1']['fixed_ips'][0] }};
        {% endif %}
        {%- if id == 2  -%}
            route {{ tunnel_cidr }} via {{ cluster['3']['VL3']['fixed_ips'][0] }};
        {% endif %}
}

